@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
    background-color: #f0e6d2; 
    background-image: linear-gradient(90deg, rgba(255,255,255,0.2) 1px, transparent 1px), 
                      linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px);
    background-size: 50px 50px;
    font-family: 'Architects Daughter', cursive;
  }
  